<main>

  <div class="message-content">
    <p>Olá {{name}}!</p>
    <br />

    <p>Recebemos uma solicitação de redefinição de senha para sua conta de usuário.</p>
    <p>Se realmente foi você que solicitou, clique no link abaixo para escolher uma nova senha.</p>

    <a href="{{link}}">Redefinir sua senha</a>

    <p>Caso você não tenha realizado essa solicitação, descarte este email.</p>
    <br />

    <p class="thank">Obrigado!</p>

    <p>Equipe SellAPI</p>
  </div>

</main>

<style>
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;800&display=swap');

  .message-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .thank {
    font-weight: 800;
  }

  main {
    background: #191622;
    color: #E1E1E6;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 1rem;
    line-height: 24px;
    letter-spacing: 0.0025em;

    padding: 30px;
  }

  a {
    width: 60%;
    background: #4cd62b;
    color: #fff;
    font-size: 1.5rem;
    margin-top: 2rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    border-radius: 5px;

    text-decoration: none;
  }
</style>
